<div class="container" id="i18_description">
    <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
          <!-- <div class="navy-line"></div> -->
          <p> <br> <br> </p>
          <h1><span data-i18n="description.description">Challenge on Quality
            Assessment of Compressed UGC Videos</span></h1>
      </div>


        <div class="col-lg-12 text-left">
            <div class="navy-line"></div>
            <h1><span data-i18n="description.description">Description</span></h1>

            <p style="font-size:120%;">Video Quality Assessment (VQA) has been an active research field
              in both academic and industry in the last two decades. Recently,
              the growing popularity of video sharing applications and video
              conferencing systems is posing new challenges to the VQA field.
              Indeed, User Generated Content (UGC) videos in these applications
              exhibit quite different characteristics than Professionally
              Generated Content (PGC) videos. UGC videos are commonly captured
              by amateurs using smartphone cameras under various shooting
              conditions. The captured videos are often processed with special
              effects and aesthetics filters before being compressed and
              uploaded to video sharing applications.</p>

            <p style="font-size:120%;">With the assumption that pristine PGC videos possess perfect
              quality, FR VQA metrics predict the quality of processed videos
              by measuring quality degradation between reference and processed
              videos. However, this assumption is generally not valid for UGC
              videos and there is a need to develop new techniques to close the
              gap between PGC and UGC videos.</p>

            <p style="font-size:120%;">This challenge is focused on estimating the quality of H.264/AVC
              compressed UGC videos. There are two tracks depends on whether any
              information of the reference is used</p>

            <ol>
              <li><p style="font-size:120%;">The MOS track, an algorithm would predict the Mean
                Opinion Score (MOS) of compressed clips. Please note that the test set includes both the "references" and their compressed versions in this track.</p></li>
              <li><p style="font-size:120%;">The DMOS track, the Differential Mean Opinion Score (DMOS)
                 between the reference and compressed clips should be predicted.</p></li>
            </ol>
        </div>
    </div>
    <!-- <div class="row"> -->
        <!-- first two icons -->
        <!-- {% for icon in site.author.skill_icon1 %}
        <div class="col-xs-2 wow fadeInLeft">
            <div class="team-member">
                <div class="vote-icon" style="text-align: left">
                    <i class="fa {{ icon.name }}"></i>
                </div>
            </div>
        </div>
        {% endfor %} -->
        <!-- avatar -->
        <!-- <div class="col-xs-4">
            <div class="team-member wow zoomIn">
                <img src="{{ site.author.avatar | prepend: site.baseurl }}" height="110" width="110" class="img-responsive img-circle" alt="">
                <h4><span class="navy">{{ site.author.first_name }}</span> {{ site.author.last_name }}</h4>
                <ul class="list-inline social-icon">
                    {% if site.author.github_username %}
                    <li><a href="https://github.com/{{ site.author.github_username }}" target="blank"><i class="fa fa-github"></i></a></li>
                    {% endif %}
                    {% if site.author.linkedin_id %}
                    <li><a href="https://www.linkedin.com/in/{{ site.author.linkedin_id }}" target="blank"><i class="fa fa-linkedin"></i></a></li>
                    {% endif %}
                    {% if site.author.facebook_username %}
                    <li><a href="https://www.facebook.com/{{ site.author.facebook_username }}" target="blank"><i class="fa fa-facebook"></i></a></li>
                    {% endif %}
                    {% if site.author.twitter_username %}
                    <li><a href="https://twitter.com/{{ site.author.twitter_username }}" target="blank"><i class="fa fa-twitter"></i></a></li>
                    {% endif %}
                    {% if site.author.email %}
                    <li><a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope-o"></i></a></li>
                    {% endif %}
                    <li><a href="{{ site.baseurl }}/feed.xml" target="blank"><i class="fa fa-rss"></i></a></li>
                    {% if site.author.cv %}
                    <li><a href="{{ site.author.cv }}" target="blank"><i class="fa fa-file-pdf-o"></i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div> -->
        <!-- second two icons -->
        <!-- {% for icon in site.author.skill_icon2 %}
        <div class="col-xs-2 wow fadeInRight">
            <div class="team-member">
                <div class="vote-icon" style="text-align: left">
                    <i class="fa {{ icon.name }}"></i>
                </div>
            </div>
        </div>
        {% endfor %} -->
    <!-- </div> -->
    <!-- <div class="row">
        <div class="col-lg-12 text-center wow zoomIn" id="i18_blog">
            <div style="height: 80px;"></div>
            <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="{{ "/blog/" | prepend: site.baseurl }}"><span data-i18n="blog.my_blog">My Blog</span></a>
            <div style="height: 80px;"></div>
        </div>
    </div> -->
    <!-- <div class="row">
        <div class="col-lg-12 col-lg-offset-1">
            <p><span data-i18n="description.des">{{ site.author.desc }}</span></p>
        </div>
    </div> -->
</div>
